.gradient-custom {
    /* fallback for old browsers */
    background: #783419;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(
      45deg,
      rgba(29, 236, 197, 0.6),
      rgba(91, 14, 214, 0.6) 100%
    );

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(
      45deg,
      rgba(29, 236, 197, 0.6),
      rgba(33, 23, 1, 0.6) 100%
    );
  }

  .titlefont
  {
    font-size: 140px;
    color: white;
  }
  .subtext
  {
    font-size: 32px;
    color:white;
  }

  @media only screen and (min-width: 601px) {
    .textmq {
      font-size: 140px;
    }
  }
  @media only screen and (max-width: 600px) {
    .textmq {
      font-size: 30px;
    }
  }