.lcontainer .scontainer hr{
    border: 3px solid #ff9900;
    border-radius: 5px;
}

.lcontainer .scontainer2 hr{
    border: 3px solid;
    border-radius: 5px;
    
}
.scontainer{
  width:50%;
}
.scontainer2{
  width: 50%;
}

@media(max-width:991px){
  .lcontainer, .btgroup{
    flex-direction: column;
    justify-content: center;
    width: 100%;
    
  }
  .scontainer, .scontainer2{
    justify-content: center;
    padding: 0;
    width: 100%;
  }

  .modal-dialog{
   flex-direction: column;
  }
  .form-check{
    width: 100%;
  }
  .roption div{
    width:100% !important;
  }
}
.form-check{
  width: 50%;
}
.container {
  text-align: center;
  font-family: 'Francois One';
  font-style: normal;
  font-weight: bolder;
  letter-spacing: 0.02em;
  color: #000;
}

.bg-color{
  background-color:#fecf50;
}

.bg-color1{
  background-color:#ff9b21;
}
.sicon{
  color:#fff;
}

.error{
  color: #f0900f;
  font-size: smaller;
}