/* .main12 {
  padding: 2%;
}

.head {
  text-align: center;
}

.head1 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 100px;
}

ul {
  display: flex;
  margin-top: 50px;
  margin-left: 320px;
}

ul li {
  width: 155px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

ul li .icon {
  font-size: 35px;
  margin: 0 60px;
}

ul li .text {
  font-size: 21px;
  font-weight: 500;
}

.paraNum {
  text-align: center;
  margin-top: 3%;
}

ul li .progress {
  width: 30px;
  height: 30px;
  margin: 0px 0;
  display: grid;
  position: relative;
  border-radius: 50%;
  background-color: blueviolet;
  place-items: center;
  color: white;
  cursor: pointer;
  text-align: center;
}

.progress::after {
  content: "";
  position: absolute;
  width: 125px;
  height: 5px;
  background-color: blueviolet;
  right: 30px;
}

ul li .progress .uil {
  display: none;
}

.one::after {
  width: 0;
  height: 0;
}

ul li .active {
  background-color: deeppink;
}

ul li .active p {
  display: none;
}

ul li .active .uil {
  display: flex;
}

.speechb {
  text-align: center;
  margin-top: 5%;
  margin-left: 0px;
  width: max-content;
  height: fit-content;
  background: pink;
  position: relative;
  border-radius: 12px;
  border: 1px solid;
  display: flex;
  padding: 1%;
}

.c {
  height: 200px;
  margin-left: 0px;
  position: relative;

}

.imgHeart {
  cursor: pointer;
}

.heart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-image: url("../images/heart.png");
  background-size: cover;
  animation: pulse 2s ease infinite;
}

.message-container {
  position: relative;
}

.message {
  display: none;
  position: absolute;
  top: 0;
}

.active + .message {
  display: block;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  50% {
    transform: scale(1);
    opacity: 0.4; 
  }
  100% {
    transform: scale(1.5);
    opacity: 0; 
  }
} */

/* 
.heart {
  position: absolute;
;
  transform: translate(-50%, -50%);
  animation: pulse 2s ease-out;
} */
