.bg-img-mission{
    
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

.bg-img-mission{
    background-image: url('../images/img4.jpg');

}

.imgmission{
    background-image: url('../images/img7.jpg');
    width: 800px;
    height: 600px;
    border-radius: 5px;
    background-repeat: no-repeat;
}

.imgmission2{
    background-image: url('../images/img2.jpg');
    width: 800px;
    height: 500px;
    border-radius: 5px;
    background-repeat: no-repeat;
}

