.bg-image-projects{
    
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
}

.bg-image-projects{

    background-image: url('../images/img12.jpg');
}

.card1{
    background-color: #535050;
    width: 100%;
}

.card2{
    background-color: #807f81;
    width: 100%;
}

/* @media(max-width:768px){

    .card1 , .card2{
        width: 100%;
        margin: 0 !important;
    }
    } */